#grad{
    -fx-background-color: linear-gradient(to bottom right, #ff7f50, #6a5acd);
}


.root{
	/*-icons-color: white !important;*/
	-fx-background-color: linear-gradient(to bottom right, #000852, #1a1a1a);
}

.cticon{ -fx-text-fill: green !important; -fx-fill: grey !important; -glyph-size: 48px !important; }

.cticonPurple{-fx-fill: #6b0059 !important; -glyph-size: 48px !important; }

.cticonPlaylist{ -fx-text-fill: green !important; -fx-fill: black !important; -glyph-size: 25px !important; }

.cticonSearch {-fx-fill: black !important; -glyph-size: 20px !important;}

#repeat{
-icon-paint: grey;
    -fx-background-color: -icon-paint;
    -size: 48;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;

    -fx-shape: "M512 256c0 83.813-68.187 152-152 152H136.535l55.762 54.545c4.775 4.67 4.817 12.341.094 17.064l-16.877 16.877c-4.686 4.686-12.284 4.686-16.971 0l-104-104c-4.686-4.686-4.686-12.284 0-16.971l104-104c4.686-4.686 12.284-4.686 16.971 0l16.877 16.877c4.723 4.723 4.681 12.393-.094 17.064L136.535 360H360c57.346 0 104-46.654 104-104 0-19.452-5.372-37.671-14.706-53.258a11.991 11.991 0 0 1 1.804-14.644l17.392-17.392c5.362-5.362 14.316-4.484 18.491 1.847C502.788 196.521 512 225.203 512 256zM62.706 309.258C53.372 293.671 48 275.452 48 256c0-57.346 46.654-104 104-104h223.465l-55.762 54.545c-4.775 4.67-4.817 12.341-.094 17.064l16.877 16.877c4.686 4.686 12.284 4.686 16.971 0l104-104c4.686-4.686 4.686-12.284 0-16.971l-104-104c-4.686-4.686-12.284-4.686-16.971 0l-16.877 16.877c-4.723 4.723-4.681 12.393.094 17.064L375.465 104H152C68.187 104 0 172.187 0 256c0 30.797 9.212 59.479 25.019 83.447 4.175 6.331 13.129 7.209 18.491 1.847l17.392-17.392a11.991 11.991 0 0 0 1.804-14.644z";
    }
    
#repeat1{
     width: 48px;
     height: 48px;
    }

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color:   #6b0059;
}


.corner {-fx-background-color: transparent;}

.table-view .column-header .label{
   -fx-text-fill: white;
}



.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background{
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar:vertical > .thumb{
	-fx-color: red;
}
.table-view > .virtual-flow > .scroll-bar:horizontal > .thumb{
	-fx-color: blue;
}


#transparent{
	-fx-background-color: transparent;
}

#buttons{
	-fx-background-color: #6b0059 ;
	-fx-background-radius: 15;
}

#searchButton{ 
     -fx-background-color: #6b0059;
     -fx-background-radius: 0px 8px 8px 0px;
     -fx-border-color: #6b0059;
     -fx-border-radius: 0px 8px 8px 0px;
}

#searchButton:hover{
     -fx-cursor: hand;
}


#buttons:hover{
	-fx-cursor: hand;
}


#rightbuttons{
	 -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 8;
  /*  -fx-background-insets: 0,1,2,0;*/
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 15px;
    -fx-padding: 6 12;
    -fx-font-weight: bold;
}

#rightbuttons:hover{
	-fx-border-color:  linear-gradient(to bottom right, red, blue);
	-fx-border-radius: 8;
	-fx-cursor: hand;
	-fx-border-width: 2;	
}

#rightbuttons:selected{
    -fx-border-color:  linear-gradient(to bottom right, red, blue);
	-fx-border-radius: 8;
	-fx-cursor: hand;
	-fx-border-width: 1;
}


#opacity{
	-fx-background-opacity: 0.7;
}

.scroll-pane > .viewport{
	-fx-background-color: transparent;
	-fx-control-inner-background: transparent;
}

.scroll-pane{
	-fx-background-color: transparent;
	-fx-control-inner-background: transparent;
}

.vbox{
	-fx-background-color: transparent;}
	
.label{
	-fx-text-fill: white; 
}

#white_text{
	-fx-text-fill: white;
}

.toggle-button{
	-fx-border-color: transparent;
	-fx-border-width: 2;
	-fx-border-color: transparent;
	-fx-background-radius: 0;
	-fx-background-color: transparent;
	-fx-text-fill: white;
}

.toggle-button:hover{
	-fx-border-color: linear-gradient(to right, red, blue);
	-fx-cursor: hand;
	-fx-font-weight: bold;
}

.toggle-button:selected{
	-fx-border-color: linear-gradient(to right, red, blue);
	-fx-border-width: 1;
	-fx-font-weight: bold;
}

.styleImportant {
   -fx-dark-text-color: #FF0000;
   -fx-mid-text-color: #FF0000;
   -fx-light-text-color: #FF0000;

   -fx-background-color: #FF9999;
}

.table-view .table-cell{
	-fx-background-color: transparent;
	-fx-text-fill: white;
}

.table-row-cell{
	-fx-background-color: transparent;
}

.table-view:focused .table-row-cell:selected{
	 -fx-border-color: linear-gradient(to right, red, blue);
}

.table-cell{
	-fx-border-color: transparent;
}


.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: linear-gradient(to right, red, blue);
}

.slider{
     -fx-color: purple;
}

.slider:hover{
	-fx-cursor: hand;
}

.slider .track{
	-fx-background-color:  linear-gradient(to right, red, blue);
}

.menu{
	-fx-background-color: #696969;
	-fx-background-radius: 8;
}

.menu:hover{
	-fx-background-color: #424242;
}

.menu-bar{
	-fx-background-color: transparent;
}

.context-menu{
	-fx-background-color: grey;
}

.text-field{
	 -fx-background-color: transparent;
     -fx-border-color: linear-gradient(to bottom right, red, blue);
     -fx-border-radius: 8 0 0 8;
     -fx-text-fill: white;
}

.fa-cog{
	color: white !important;
}

.icon-play{
   color: white !important;
}

.whiteiconcolor{
	color: white;
}
